[project]
name = "{{ package_name }}"
description = "{{ description }}"
{% if author -%}
authors = ["{{ author }}"]
{%- endif %}
license = {text = "GPLv3+"}
readme = "doc/usage.md"
dynamic = ["version"]
dependencies = [
"cliomatic @ git+https://gitlab.com/gpernot/cliomatic.git",
]

[project.scripts]
{{ package_name }} = "{{ module_name }}.cli:cli"

[build-system]
requires = ["flit_core >=3.4,<4"]
build-backend = "flit_core.buildapi"

