[tox]
envlist = py311, pytest, linter, typing, audit, coverage

[testenv]
# extras = all

[testenv:pytest]
deps =
     pytest

commands = python -m pytest {posargs}

[testenv:linter]
deps =
     black
     flake8
     isort
commands =
	 isort --diff {{ module_name }} cliomatic
	 black --check --diff {{ module_name }} cliomatic tests
	 flake8 {{ module_name }} cliomatic tests

[testenv:typing]
deps =
     mypy
commands = mypy {{ module_name }} cliomatic

[testenv:audit]
deps = bandit
commands = bandit -c pyproject.toml -r {{ module_name }} cliomatic

[testenv:coverage]
deps =
     coverage
     pytest
commands =
	 coverage run -m pytest {posargs}
	 coverage xml
	 coverage report

[flake8]
max-line-length = 95
